/*
  This minimalist theme is insipired by Leo Babauta
  (http://mnmlist.com/theme/).
*/
/* line 1, ../../compass/pygment.scss */
.hll {
  background-color: #FFFFCC;
}

/* line 4, ../../compass/pygment.scss */
.c {
  color: #408090;
  font-style: italic;
}

/* line 8, ../../compass/pygment.scss */
.err {
  border: 1px solid #FF0000;
}

/* line 11, ../../compass/pygment.scss */
.k {
  color: #007020;
  font-weight: bold;
}

/* line 15, ../../compass/pygment.scss */
.o {
  color: #666666;
}

/* line 18, ../../compass/pygment.scss */
.cm {
  color: #408090;
  font-style: italic;
}

/* line 22, ../../compass/pygment.scss */
.cp {
  color: #007020;
}

/* line 25, ../../compass/pygment.scss */
.c1 {
  color: #408090;
  font-style: italic;
}

/* line 29, ../../compass/pygment.scss */
.cs {
  background-color: #FFF0F0;
  color: #408090;
}

/* line 33, ../../compass/pygment.scss */
.gd {
  color: #A00000;
}

/* line 36, ../../compass/pygment.scss */
.ge {
  font-style: italic;
}

/* line 39, ../../compass/pygment.scss */
.gr {
  color: #FF0000;
}

/* line 42, ../../compass/pygment.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* line 46, ../../compass/pygment.scss */
.gi {
  color: #00A000;
}

/* line 49, ../../compass/pygment.scss */
.go {
  color: #303030;
}

/* line 52, ../../compass/pygment.scss */
.gp {
  color: #C65D09;
  font-weight: bold;
}

/* line 56, ../../compass/pygment.scss */
.gs {
  font-weight: bold;
}

/* line 59, ../../compass/pygment.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* line 63, ../../compass/pygment.scss */
.gt {
  color: #0040D0;
}

/* line 66, ../../compass/pygment.scss */
.kc {
  color: #007020;
  font-weight: bold;
}

/* line 70, ../../compass/pygment.scss */
.kd {
  color: #007020;
  font-weight: bold;
}

/* line 74, ../../compass/pygment.scss */
.kn {
  color: #007020;
  font-weight: bold;
}

/* line 78, ../../compass/pygment.scss */
.kp {
  color: #007020;
}

/* line 81, ../../compass/pygment.scss */
.kr {
  color: #007020;
  font-weight: bold;
}

/* line 85, ../../compass/pygment.scss */
.kt {
  color: #902000;
}

/* line 88, ../../compass/pygment.scss */
.m {
  color: #208050;
}

/* line 91, ../../compass/pygment.scss */
.s {
  color: #4070A0;
}

/* line 94, ../../compass/pygment.scss */
.na {
  color: #4070A0;
}

/* line 97, ../../compass/pygment.scss */
.nb {
  color: #007020;
}

/* line 100, ../../compass/pygment.scss */
.nc {
  color: #0E84B5;
  font-weight: bold;
}

/* line 104, ../../compass/pygment.scss */
.no {
  color: #60ADD5;
}

/* line 107, ../../compass/pygment.scss */
.nd {
  color: #555555;
  font-weight: bold;
}

/* line 111, ../../compass/pygment.scss */
.ni {
  color: #D55537;
  font-weight: bold;
}

/* line 115, ../../compass/pygment.scss */
.ne {
  color: #007020;
}

/* line 118, ../../compass/pygment.scss */
.nf {
  color: #06287E;
}

/* line 121, ../../compass/pygment.scss */
.nl {
  color: #002070;
  font-weight: bold;
}

/* line 125, ../../compass/pygment.scss */
.nn {
  color: #0E84B5;
  font-weight: bold;
}

/* line 129, ../../compass/pygment.scss */
.nt {
  color: #062873;
  font-weight: bold;
}

/* line 133, ../../compass/pygment.scss */
.nv {
  color: #BB60D5;
}

/* line 136, ../../compass/pygment.scss */
.ow {
  color: #007020;
  font-weight: bold;
}

/* line 140, ../../compass/pygment.scss */
.w {
  color: #BBBBBB;
}

/* line 143, ../../compass/pygment.scss */
.mf {
  color: #208050;
}

/* line 146, ../../compass/pygment.scss */
.mh {
  color: #208050;
}

/* line 149, ../../compass/pygment.scss */
.mi {
  color: #208050;
}

/* line 152, ../../compass/pygment.scss */
.mo {
  color: #208050;
}

/* line 155, ../../compass/pygment.scss */
.sb {
  color: #4070A0;
}

/* line 158, ../../compass/pygment.scss */
.sc {
  color: #4070A0;
}

/* line 161, ../../compass/pygment.scss */
.sd {
  color: #4070A0;
  font-style: italic;
}

/* line 165, ../../compass/pygment.scss */
.s2 {
  color: #4070A0;
}

/* line 168, ../../compass/pygment.scss */
.se {
  color: #4070A0;
  font-weight: bold;
}

/* line 172, ../../compass/pygment.scss */
.sh {
  color: #4070A0;
}

/* line 175, ../../compass/pygment.scss */
.si {
  color: #70A0D0;
  font-style: italic;
}

/* line 179, ../../compass/pygment.scss */
.sx {
  color: #C65D09;
}

/* line 182, ../../compass/pygment.scss */
.sr {
  color: #235388;
}

/* line 185, ../../compass/pygment.scss */
.s1 {
  color: #4070A0;
}

/* line 188, ../../compass/pygment.scss */
.ss {
  color: #517918;
}

/* line 191, ../../compass/pygment.scss */
.bp {
  color: #007020;
}

/* line 194, ../../compass/pygment.scss */
.vc {
  color: #BB60D5;
}

/* line 197, ../../compass/pygment.scss */
.vg {
  color: #BB60D5;
}

/* line 200, ../../compass/pygment.scss */
.vi {
  color: #BB60D5;
}

/* line 203, ../../compass/pygment.scss */
.il {
  color: #208050;
}

/* line 14, ../../compass/main.scss */
body {
  background: #fff;
  color: #444;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  max-width: 30em;
  margin: 60px 60px 60px 60px;
  line-height: 1.6;
}

/* line 24, ../../compass/main.scss */
#article-list {
  margin-top: 100px;
}
/* line 26, ../../compass/main.scss */
#article-list ol li {
  list-style-type: none;
}

/* line 31, ../../compass/main.scss */
.date {
  display: block;
  color: rgba(0, 0, 0, 0.44);
  font-size: 0.7em;
}

/* line 37, ../../compass/main.scss */
.footer {
  margin-top: 60px;
}
/* line 39, ../../compass/main.scss */
.footer a:-webkit-any-link {
  color: rgba(0, 0, 0, 0.44);
  text-decoration: none !important;
  font-size: 0.7em;
}

/* line 50, ../../compass/main.scss */
h1, h2, h3 {
  line-height: 1.2;
  margin: 30px 0 0 0;
}

/* line 55, ../../compass/main.scss */
h1 {
  color: #333;
  font-size: 2em;
  font-weight: normal;
}

/* line 61, ../../compass/main.scss */
h2 {
  color: rgba(0, 0, 0, 0.44);
  font-size: 1.3em;
  font-weight: normal;
}

/* line 67, ../../compass/main.scss */
h3 {
  color: #444;
  font-weight: bold;
  font-size: 1em;
}

/* line 78, ../../compass/main.scss */
blockquote {
  border-left: 1px solid #ddd;
  margin: 19px 0 0 0;
  padding: 0 0.8em 0 0.8em;
}

/* line 84, ../../compass/main.scss */
p {
  margin: 19px 0 0 0;
  text-indent: 0;
}

/* line 89, ../../compass/main.scss */
a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}
/* line 93, ../../compass/main.scss */
a:hover {
  color: #999;
}

/* line 96, ../../compass/main.scss */
iframe {
  margin: 19px 0 0 0;
}

/* line 100, ../../compass/main.scss */
img {
  border: 1px solid #ddd;
}

/* line 104, ../../compass/main.scss */
time {
  color: #c0c0c0;
  font-size: 50%;
}

/* line 109, ../../compass/main.scss */
strong {
  font: inherit;
  font-size: 100%;
  color: #444;
  font-weight: bold;
}
/* line 114, ../../compass/main.scss */
strong a {
  color: #444;
}

/* line 119, ../../compass/main.scss */
ul, ol {
  margin: 19px 0 0 0;
  padding: 0em 0em 0em 2em;
}
/* line 122, ../../compass/main.scss */
ul li, ol li {
  padding: 6px 0 0 0;
}

/* line 127, ../../compass/main.scss */
table {
  margin: 19px 0 0 0;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 131, ../../compass/main.scss */
table th {
  font-weight: bold;
  text-align: left;
}
/* line 135, ../../compass/main.scss */
table td, table th {
  border: 1px solid #ddd;
  padding: 0.2em 0.5em;
}

/* line 146, ../../compass/main.scss */
.mono, pre, p code, p tt, li code, li tt {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 148, ../../compass/main.scss */
pre {
  margin: 19px 0 0 0;
  color: #444;
  border: 1px solid #ddd;
  font-size: .8em;
  overflow: auto;
  padding: .8em 1em;
}

/* line 161, ../../compass/main.scss */
p code, p tt, li code, li tt {
  color: #444;
  border: 1px solid #ddd;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: .8em;
  white-space: no-wrap;
  display: inline-block;
  padding: 0 .3em;
  margin: -1px 0;
}
