/* line 1, ../../compass/pygment.scss */
.hll {
  background-color: #FFFFCC;
}

/* line 4, ../../compass/pygment.scss */
.c {
  color: #408090;
  font-style: italic;
}

/* line 8, ../../compass/pygment.scss */
.err {
  border: 1px solid #FF0000;
}

/* line 11, ../../compass/pygment.scss */
.k {
  color: #007020;
  font-weight: bold;
}

/* line 15, ../../compass/pygment.scss */
.o {
  color: #666666;
}

/* line 18, ../../compass/pygment.scss */
.cm {
  color: #408090;
  font-style: italic;
}

/* line 22, ../../compass/pygment.scss */
.cp {
  color: #007020;
}

/* line 25, ../../compass/pygment.scss */
.c1 {
  color: #408090;
  font-style: italic;
}

/* line 29, ../../compass/pygment.scss */
.cs {
  background-color: #FFF0F0;
  color: #408090;
}

/* line 33, ../../compass/pygment.scss */
.gd {
  color: #A00000;
}

/* line 36, ../../compass/pygment.scss */
.ge {
  font-style: italic;
}

/* line 39, ../../compass/pygment.scss */
.gr {
  color: #FF0000;
}

/* line 42, ../../compass/pygment.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* line 46, ../../compass/pygment.scss */
.gi {
  color: #00A000;
}

/* line 49, ../../compass/pygment.scss */
.go {
  color: #303030;
}

/* line 52, ../../compass/pygment.scss */
.gp {
  color: #C65D09;
  font-weight: bold;
}

/* line 56, ../../compass/pygment.scss */
.gs {
  font-weight: bold;
}

/* line 59, ../../compass/pygment.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* line 63, ../../compass/pygment.scss */
.gt {
  color: #0040D0;
}

/* line 66, ../../compass/pygment.scss */
.kc {
  color: #007020;
  font-weight: bold;
}

/* line 70, ../../compass/pygment.scss */
.kd {
  color: #007020;
  font-weight: bold;
}

/* line 74, ../../compass/pygment.scss */
.kn {
  color: #007020;
  font-weight: bold;
}

/* line 78, ../../compass/pygment.scss */
.kp {
  color: #007020;
}

/* line 81, ../../compass/pygment.scss */
.kr {
  color: #007020;
  font-weight: bold;
}

/* line 85, ../../compass/pygment.scss */
.kt {
  color: #902000;
}

/* line 88, ../../compass/pygment.scss */
.m {
  color: #208050;
}

/* line 91, ../../compass/pygment.scss */
.s {
  color: #4070A0;
}

/* line 94, ../../compass/pygment.scss */
.na {
  color: #4070A0;
}

/* line 97, ../../compass/pygment.scss */
.nb {
  color: #007020;
}

/* line 100, ../../compass/pygment.scss */
.nc {
  color: #0E84B5;
  font-weight: bold;
}

/* line 104, ../../compass/pygment.scss */
.no {
  color: #60ADD5;
}

/* line 107, ../../compass/pygment.scss */
.nd {
  color: #555555;
  font-weight: bold;
}

/* line 111, ../../compass/pygment.scss */
.ni {
  color: #D55537;
  font-weight: bold;
}

/* line 115, ../../compass/pygment.scss */
.ne {
  color: #007020;
}

/* line 118, ../../compass/pygment.scss */
.nf {
  color: #06287E;
}

/* line 121, ../../compass/pygment.scss */
.nl {
  color: #002070;
  font-weight: bold;
}

/* line 125, ../../compass/pygment.scss */
.nn {
  color: #0E84B5;
  font-weight: bold;
}

/* line 129, ../../compass/pygment.scss */
.nt {
  color: #062873;
  font-weight: bold;
}

/* line 133, ../../compass/pygment.scss */
.nv {
  color: #BB60D5;
}

/* line 136, ../../compass/pygment.scss */
.ow {
  color: #007020;
  font-weight: bold;
}

/* line 140, ../../compass/pygment.scss */
.w {
  color: #BBBBBB;
}

/* line 143, ../../compass/pygment.scss */
.mf {
  color: #208050;
}

/* line 146, ../../compass/pygment.scss */
.mh {
  color: #208050;
}

/* line 149, ../../compass/pygment.scss */
.mi {
  color: #208050;
}

/* line 152, ../../compass/pygment.scss */
.mo {
  color: #208050;
}

/* line 155, ../../compass/pygment.scss */
.sb {
  color: #4070A0;
}

/* line 158, ../../compass/pygment.scss */
.sc {
  color: #4070A0;
}

/* line 161, ../../compass/pygment.scss */
.sd {
  color: #4070A0;
  font-style: italic;
}

/* line 165, ../../compass/pygment.scss */
.s2 {
  color: #4070A0;
}

/* line 168, ../../compass/pygment.scss */
.se {
  color: #4070A0;
  font-weight: bold;
}

/* line 172, ../../compass/pygment.scss */
.sh {
  color: #4070A0;
}

/* line 175, ../../compass/pygment.scss */
.si {
  color: #70A0D0;
  font-style: italic;
}

/* line 179, ../../compass/pygment.scss */
.sx {
  color: #C65D09;
}

/* line 182, ../../compass/pygment.scss */
.sr {
  color: #235388;
}

/* line 185, ../../compass/pygment.scss */
.s1 {
  color: #4070A0;
}

/* line 188, ../../compass/pygment.scss */
.ss {
  color: #517918;
}

/* line 191, ../../compass/pygment.scss */
.bp {
  color: #007020;
}

/* line 194, ../../compass/pygment.scss */
.vc {
  color: #BB60D5;
}

/* line 197, ../../compass/pygment.scss */
.vg {
  color: #BB60D5;
}

/* line 200, ../../compass/pygment.scss */
.vi {
  color: #BB60D5;
}

/* line 203, ../../compass/pygment.scss */
.il {
  color: #208050;
}
